<article>
    <h1>{{ page.title }}</h1>
    
    {{ content }}

    {%- if page.date %}
    <div class="post-meta">
        Posted at <span title="{{ page.date }}">{{ page.date | date: "%B" }}
        {% assign d = page.date | date: "%-d"  %}
        {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st,
            {% when '2' or '22' %}{{ d }}nd,
            {% when '3' or '23' %}{{ d }}rd,
            {% else %}{{ d }}th,
        {% endcase %}
        {{ page.date | date: "%Y"}}</span>
    </div>
    {% endif %}
</article>